<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88152083064-89pm7mei20nm9e7n8rqgfmbudpkccdqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88152083064-89pm7mei20nm9e7n8rqgfmbudpkccdqt</string>
	<key>API_KEY</key>
	<string>AIzaSyBCplQwCsWrljJTKSxrObS2Jd3zlqirHLY</string>
	<key>GCM_SENDER_ID</key>
	<string>88152083064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.relis</string>
	<key>PROJECT_ID</key>
	<string>relis-cb671</string>
	<key>STORAGE_BUCKET</key>
	<string>relis-cb671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88152083064:ios:921f44f1faba86d4fabb8d</string>
</dict>
</plist>